<html>
    <head>
        <!-- <link rel="stylesheet" href="style2.css"> -->
    </head>
    <body>
        <div class="ingredients">
            % for ingredient in ingredients:
                <img alt="{{ingredient[1]}}" src="{{ingredient[0]}}">
            % end
        </div>
        <img alt="Lucky Penny (11)" src="https://static.wikia.nocookie.net/bindingofisaacre_gamepedia/images/1/1e/Collectible_Bag_of_Crafting_component_11.png/revision/latest/scale-to-width-down/32?cb=20210423143916">
        <div class="items"></div>
    </body>
</html>